// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'tailwindcss';

html,
body {
  height: 100%;
}

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette
      ),
      typography: Roboto,
      density: 0
    )
  );
  scrollbar-gutter: stable;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  // Reset the user agent margin.
  margin: 0;
}

@utility container {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

mat-form-field {
  @include mat.theme(
    (
      density: -1
    )
  );
  width: 100%;
}

.fluid-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  gap: 1rem;
}

.snackbar-error {
  @include mat.snack-bar-overrides(
    (
      container-color: var(--mat-sys-error),
      supporting-text-color: var(--mat-sys-on-error)
    )
  );
}
